<!-- <h1> Metadata Form</h1>

<form #userPost = "ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <input type="text" name ="id" ngModel placeholder="id"> <br>
    <input type="text" name = "name" ngModel placeholder="name"> <br>
    <input type="text" name="ipackname" ngModel placeholder="ipackname"><br>
    <input type="number" name="version" ngModel placeholder="version"><br>
    

    <button type="submit">Create</button>

</form> 

<form #userPost = "ngForm" (ngSubmit)="onSubmit(userPost.value)"> 
    <div class="form-group">
      <label for="InputName">Name</label>
      <input type="text" class="form-control" id="name" ngModel placeholder="Enter Name"><button type="button" class="btn btn-primary" style=" margin-top:10px; padding: 0px 10px">Verify</button>
       <small id="emailHelp" class="form-text text-muted"></small> 
    </div>
    <br>
    <div class="form-group">
        <label for="InputIName">IpackName</label>
        <input type="text" class="form-control" id="iname" ngModel placeholder="Enter IpackName">
        <small id="iname_note" class="form-text text-muted">Note- IpackName should be same as Name.</small>
      </div>
      <br>
      <div class="form-group">
        <label for="versionHC">Version</label>
        <input type="number" class="form-control" id="version" ngModel  placeholder="2.0">
        <small id="version" class="form-text text-muted">version = 2.0</small>
      </div>
      <br>
      <br>
      <small class="form-text text-muted">This would be shown after verification of name.</small>
    <div class="form-group">
      <label for="ETFadd">Extra Transfer Fields</label>
      <button type="submit" class="btn btn-primary" style="margin-left:20px; padding: 0px 10px ;">Add</button>
       <input type="text" class="form-control" id="ETFKey" placeholder="Key"  style="width:40% ;"> 
     <input type="text" class="form-control" id="ETFKey" placeholder="Value" style="width:40%;display: inline-block;"> 
    </div>
     <app-etf></app-etf> 
    <br>
    <div class="form-group">
        <label for="Section">Sections</label>
        <button type="submit" class="btn btn-primary" style="margin-left:20px; padding: 0px 10px ;">Add</button>
    </div>
      <br>
     <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Checkbox</label>
    </div> 
    <button type="submit" class="btn btn-primary" style="margin-right:20px ;">Save</button> 
    <button type="button" class="btn btn-primary" style="margin-right:20px ;">Reset</button>
    <button type="button" class="btn btn-primary">Finish</button>
  </form> -->

  <h1> Metadata Form</h1>



 <!-- <form #userPost = "ngForm" (ngSubmit)="onSubmit()"> -->

<form #userPost = "ngForm" (ngSubmit)="onSubmit(userPost.value)">

    <!-- <input type="text" name ="id"  ngModel placeholder="id" > <br> -->

    <input type="text" name = "name" ngModel placeholder="name"> <br>

    <!-- <input type="text" name="ipackname" ngModel placeholder="ipackname"><br>

    <input type="number" name="version" ngModel placeholder="version"><br> -->





    <!-- <label >ID</label>

    <input name ="id" (ngmodel)="data.id" > <br>

    <label >name</label>

    <input  name = "name" (ngmodel)="data.name"> <br>

    <label >ipackname</label>

    <input  name="ipackname" (ngmodel)="data.ipackname"><br>

    <label >version</label>

    <input  name="version" (ngmodel)="data.version"><br> -->

   



    <button type="submit">Create</button>



</form>

<!-- {{data | json}} -->