@import "~bootstrap/dist/css/bootstrap.css";

/* .form{
    text-align: center;
    padding: 40 px 50px;
    align-items: center;
}

.form > input{
    /* padding-bottom: 20px; */
    /* font-size: 2em; 
    margin-bottom: 40px;

} */