<!-- <p>static-content works!</p> -->
<form class = "form-group">

    <label> Content :</label>
    <input placeholder="content" class="form-control">
    <br>
    <div>
        <div class = "d-flex justify-content-between">
    <div>Headers :</div>
    <div><button class = "btn btn-primary">Add</button></div>
    
</div>

    <form formArrayName = "headers">

        <label>TemplateName : </label>
        <input type = "text" id = "tempName" class="form-control">

        
        <label>Headers : </label>
        <input type = "text" id = "headers" class="form-control">

    </form>
</div>

</form>