<!-- <p>steps-config works!</p> -->
<div>
    <div>Steps Config :</div>
    <br>
    <div style="margin: auto;align-items: center;">
  
        <div class="d-flex justify-content-between">
          <div><label for="name">Name</label></div>
          <div style="width:50% ;"><input type="text" class="form-control" id="name" ngModel placeholder="Enter Name"></div>
        </div>
        <br>
        <div class="form-group">
            <div class="d-flex justify-content-between">
            <div><label for="title">Title</label></div>
            <div style="width:50% ;"><input type="text" class="form-control" id="title" ngModel placeholder="Enter Title"></div>
            </div>
          <br>
          <div class="form-group d-flex justify-content-between">
            <div><label for="descrition">Description</label></div>
            <div  style ="width : 50%;"><input type="text" class="form-control" id="desc" ngModel  placeholder=""></div>
          </div>
          <br>


        <app-static-page-entry>

        </app-static-page-entry>
        <!-- <div class = "ETF_Sec">
          
        </div> -->
        <!-- <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" style="margin-right:20px ;">Save</button> 
        <button type="button" class="btn btn-primary" style="margin-right:20px ;">Reset</button>
        <button type="button" class="btn btn-primary">Finish</button> -->
      </div>
    <div>
        <!-- <app-static-content>

        </app-static-content> -->
        
    </div>
</div>

