<!-- <p>steps works!</p> -->
<div>
  <form class="form-group" formArrayName="sections"> 
    <div class="d-flex justify-content-between">
   <div formArrayName="steps">Steps</div>
   <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Component 1</a>
      <a class="dropdown-item" href="#">Component 2</a>
      <a class="dropdown-item" href="#">Component 3</a>
    </div>
    <div style="display:inline-block ;margin-left: 30px;"><button type="button" class="btn btn-success" id = "DisplayComp">Add</button></div>

  </div>
  </div>
<br>
  
     <app-steps-config>
      
     </app-steps-config>


</form>
</div>

